


<div id="page">
    <header >
        <div  class="w3-container">
            <div class="w3-row">
                <div class="w3-col s12 m3">
                    <h2>
                        A Site Title
                    </h2>
                </div>
                <div class="w3-col s12 m8">
                    <nav class="w3-topnav">
                        <a href="home.md"  class="{{ active == 'home'  ? 'w3-theme-action w3-card-2' : ''}}">Home</a>
                        <a href="page1.md" class="{{ active == 'page1' ? 'w3-theme-action w3-card-2' : ''}}">Page 1</a>
                        <a href="page2.md" class="{{ active == 'page2' ? 'w3-theme-action w3-card-2' : ''}}">Page 2</a>
                        <a href="page3.md" class="{{ active == 'page3' ? 'w3-theme-action w3-card-2' : ''}}">Page 3</a>
                        <a href="about.md" class="{{ active == 'about' ? 'w3-theme-action w3-card-2' : ''}}">About Us</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section id="pageSection" class="w3-theme-d3 w3-card-4" >
        <div  class="w3-container ">
            <div class="w3-row">
                <div class="w3-col m1 l2">
                    &nbsp;
                </div>
                <div class="w3-col m10 l8">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </section>

</div>

<div id="pageFooter" class="w3-container">

    <div  class="w3-container">
        <div class="w3-row">
            <div class="w3-col m1 l2">
                &nbsp;
            </div>
            <div class="w3-col m10 l8">
                <div Markdown path="assets/markdown/footer.md"></div>
            </div>
        </div>
    </div>

</div>
